* {
    background-color: darkgoldenrod;
    text-align: center;
}

p {
    font-size: 20px;
} 


#score {
    text-align: center;
}

.clear {
    clear: both;
}

/* #size-container {
    margin-left: -50px;
    padding-left: 50%;
}

#size{
    width: 50px;
    margin-left: 10px;
    border-radius: 10%;
}

#size-header{
    float: left;
    margin-top: 0px;
    border-radius: 3px;
      
}

#change-size{
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
} */

#doubleTroubleCanvas {
    background-color: burlywood;
    margin-left: auto;

}

#canvasContainer {
    width: 200px;
}