* {
    background-color: darkgoldenrod;
    text-align: center;
}

.tile {
    border-style: solid;
    box-sizing: border-box;
    padding: 14px;
    background-color: red;
    color: black;
    display: inline-block;
    height: 100px;
    width: 100px;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    transition: all 200ms ease-in-out;
}

#tile-container {
    margin: auto;
    display: block;
    position: relative;
    width: 400px;
    height: 400px;
    bottom: 400px;
    background-color: #ffffff00;
}

p {
    font-size: 20px;
} 


#score {
    text-align: center;
}

.clear {
    clear: both;
}

#reset-button {
    background-color: whitesmoke;
    border-radius: 10%;
}

#doubleTroubleCanvas {
    background-color: burlywood;
    margin: auto;
    display: block;
    position: relative;

}

#canvasContainer {
    width: 200px;
}